
// colors
$primary-color: rgb(255, 111, 36);
$secondary-color: rgb(46, 46, 46);
$tertiary-color: snow;
$lighting-color: #fff900;
$header-color: rgb(34, 33, 33);

// fonts
$primary-font: 'Zen Kurenaido', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$logo-font: 'Seaweed Script', cursive;